H1{color:235789;}
H3{color:526375;}
H2{color:526375;}
P{	color:384245;
	font-family: 'Roboto', sans-serif;
	font-size:small;}
Text{font-size:small;
	color:384245;}
Body{
	background-color:EDF2EF;}



Table{
	background-color:165291;
	color:#7b90a6;
	font-family: 'Spectral', serif;}


Th{	border:4px solid grey;}
Td{	border:4px solid grey;
	text-align: center;}
Li {
	decoration: none;
	color: 00A6FB;
}